{% if site.navigation_header %}
<nav class="navbar">
  <div class="menu-btn" onclick="showMenu()"></div>
  <ul class="navbar-menu">
    {% for item in site.navigation_header %}

      {% if item[1] contains '://' %}
        {% assign url = item[1] %}
      {% else %}
        {% assign url = item[1] | relative_url %}
      {% endif %}

      <li>
        <a href="{{ url }}">{{ item[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
 
var menuBtn = document.querySelector(".menu-btn");
var menuList = document.querySelector(".navbar-menu");

function myFunction(x) {
  if (x.matches) { // If media query matches
    menuList.classList.add("hide");
  } 
  else {
    menuList.classList.remove("hide");
  }
}

function showMenu(){
    menuList.classList.toggle("hide");    
  
}

var x = window.matchMedia("(max-width: 768px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction) // Attach listener function on state change
</script>
