{% for category in site.categories %}
  {% assign category_name = category | first %}
    {% if category_name == "MadeByStudents" %}
      <section class="section  typeset">
        <!-- <h2 id="{{ category_name | slugify }}">{{ category_name }}</h2> -->
        <p>This project showcases the apps that students in MMU Cyberjaya have developed.

        There are no magic or sorcery behind any of these projects. Anyone, including you, can build these apps. 
          <br><br>
        Email us your work to <a href="mailto:itsoc.mmu@gmail.com"> itsoc.mmu@gmail.com</a> if you wish to have your work showcased here.</p>
        <ul class="list  list--posts">
          {% for page in site.categories[category_name] %}
            {% assign has_categories = true %}
            
            <li class="item  item--post">
              <article class="article  article--post  typeset">

                <div class="card">
                  <img class="preview-image" src="{{page.feature_image}}">
                  <div class="container">
                    <h4>{{ page.feature_text }}</h4>
                    <div class="post-meta">by {{page.creator}}</div>
                    <p>{{ page.content}}</p>
                  </div>
                </div>
              </article>
            </li>
          {% endfor %}
        </ul>
        {% unless forloop.last %}<hr/>{% endunless %}
      </section>
    {% endif %}
{% endfor %}

