<head>
<style>
table {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
	border-spacing: 5px;
}

th, td {
	border: 1px solid #dddddd;
	padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<table style="width:100%; font-size:120%">
	<tr>
		<th style="text-align:center;"><b> Rank </b></th>
		<th><b> Name </b></th>
		<th style="text-align:center;"><b> Total Ranking </b></th>
	</tr>
	<tr>
		<td style="text-align:center;"> <img src="/assets/badges/platinum.png" alt="platinum badge" style="width:40px;height:40px;"> </td>
		<td> <img src="/assets/avatars/1.png" alt="1" style="width:40px;height:40px;"> Jim Helpert </td>
		<td style="text-align:center;"> 500 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> <img src="/assets/badges/gold.png" alt="gold badge" style="width:40px;height:40px;"> </td>
		<td> <img src="/assets/avatars/2.png" alt="1" style="width:40px;height:40px;"> Dwight Schrute </td>
		<td style="text-align:center;"> 490 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> <img src="/assets/badges/silver.png" alt="silver badge" style="width:40px;height:40px;"> </td>
		<td> <img src="/assets/avatars/3.png" alt="1" style="width:40px;height:40px;"> Pam Beesly </td>
		<td style="text-align:center;"> 488 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 4 </td>
		<td> <img src="/assets/avatars/4.png" alt="1" style="width:40px;height:40px;"> Michael Scott </td>
		<td style="text-align:center;"> 480 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 5 </td>
		<td> <img src="/assets/avatars/5.png" alt="1" style="width:40px;height:40px;"> Kevin Malone </td>
		<td style="text-align:center;"> 477 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 6 </td>
		<td> <img src="/assets/avatars/6.png" alt="1" style="width:40px;height:40px;"> Stanley Hudson </td>
		<td style="text-align:center;"> 475 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 7 </td>
		<td> <img src="/assets/avatars/7.png" alt="1" style="width:40px;height:40px;"> Oscar Martinez </td>
		<td style="text-align:center;"> 460 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 8 </td>
		<td> <img src="/assets/avatars/8.png" alt="1" style="width:40px;height:40px;"> Phyllis Vance </td>
		<td style="text-align:center;"> 455 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 9 </td>
		<td> <img src="/assets/avatars/9.png" alt="1" style="width:40px;height:40px;"> Creed Bratton </td>
		<td style="text-align:center;"> 451 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 10 </td>
		<td> <img src="/assets/avatars/10.png" alt="1" style="width:40px;height:40px;"> Toby Flenderson </td>
		<td style="text-align:center;"> 449 </td>
	</tr>
</table>