
<br>
<form class="form  form--{{ name_id }}" method="post" name="submit-to-google-sheet-2">
        <fieldset class="fieldset  form__fieldset">
          <legend class="legend form__legend">{{ name }}</legend>

          <label class="label" for="name--{{ name_id }}">Name: <span class="required">*</span></label>
          <input class="input" id="name--{{ name_id }}" type="text" name="name" value="" placeholder="John Doe" required="required" />
            
          <label class="label" for="email--{{ name_id }}">Email Address: <span class="required">*</span></label>
          <input class="input" id="email--{{ name_id }}" type="email" name="email" value="" placeholder="email@website.com" required="required" />

          <label class="label" for="message--{{ name_id }}">Message: <span class="required">*</span></label>
          <textarea class="textarea" id="message--{{ name_id }}" name="message" placeholder="Your message" required="required" ></textarea>
      
          <input class="button" type="submit" value="Send" />
          <br/>
          <small class="small"><span class="required">*</span> indicates a required field</small>
      
        </fieldset>
      </form>
      
      
      <!-- submit to google spreadsheet -->
      <script>
          const scriptURL = 'https://script.google.com/macros/s/AKfycbz3MAViYUxPs_PP5RiqS6-joPwP_FBF-Nhw2kxWlDUC6fIrHrg/exec'
          const form = document.forms['submit-to-google-sheet-2']
        
          form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
              .then(response => console.log('Success!', response))
              .catch(error => console.error('Error!', error.message))
          })
        </script>
      