<head>
<style>
table {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
	border-spacing: 5px;
}

th, td {
	border: 1px solid #dddddd;
	padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<table style="width:100%; font-size:120%">
	<tr>
		<th style="text-align:center;"><b> Rank </b></th>
		<th><b> Name </b></th>
		<th style="text-align:center;"><b> Total Ranking </b></th>
	</tr>
	<tr>
		<td style="text-align:center;"> <img src="/assets/badges/platinum.png" alt="platinum badge" style="width:40px;height:40px;"> </td>
		<td> <img src="/assets/avatars/1st.gif" alt="1" style="width:50px;height:50px;"> Sauryadeep Pal </td>
		<td style="text-align:center;"> 68.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> <img src="/assets/badges/gold.png" alt="gold badge" style="width:40px;height:40px;"> </td>
		<td> <img src="/assets/avatars/2nd.gif" alt="1" style="width:50px;height:50px;"> 咩咩 咩咩 </td>
		<td style="text-align:center;"> 55.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> <img src="/assets/badges/silver.png" alt="silver badge" style="width:40px;height:40px;"> </td>
		<td> <img src="/assets/avatars/3rd.gif" alt="1" style="width:50px;height:50px;"> Daniel Shamsudin </td>
		<td style="text-align:center;"> 35.56 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 4 </td>
		<td> <img src="/assets/avatars/2.png" alt="1" style="width:50px;height:50px;"> Reuben Lee Suppiah </td>
		<td style="text-align:center;"> 33.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 5 </td>
		<td> <img src="/assets/avatars/3.png" alt="1" style="width:50px;height:50px;"> Marsha Binti Mohamad Muhsin </td>
		<td style="text-align:center;"> 24.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 6 </td>
		<td> <img src="/assets/avatars/4.png" alt="1" style="width:50px;height:50px;"> Ham Wen Hong </td>
		<td style="text-align:center;"> 20.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 7 </td>
		<td> <img src="/assets/avatars/5.png" alt="1" style="width:50px;height:50px;"> Chew Xim Rui </td>
		<td style="text-align:center;"> 17.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 8 </td>
		<td> <img src="/assets/avatars/6.png" alt="1" style="width:50px;height:50px;"> Deivashree A/P Selva Rajoo </td>
		<td style="text-align:center;"> 16.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 8 </td>
		<td> <img src="/assets/avatars/7.png" alt="1" style="width:50px;height:50px;"> Yong Wai Chun </td>
		<td style="text-align:center;"> 16.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 8 </td>
		<td> <img src="/assets/avatars/8.png" alt="1" style="width:50px;height:50px;"> Christopher Tan Eng Hao </td>
		<td style="text-align:center;"> 16.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 8 </td>
		<td> <img src="/assets/avatars/9.png" alt="1" style="width:50px;height:50px;"> Ali Imran Bin Shahrin </td>
		<td style="text-align:center;"> 16.00 </td>
	</tr>
	<tr>
		<td style="text-align:center;"> 8 </td>
		<td> <img src="/assets/avatars/10.png" alt="1" style="width:50px;height:50px;"> Lim Chih Zhen </td>
		<td style="text-align:center;"> 16.00 </td>
	</tr>
</table>