

<form class="form  form--{{ name_id }}" method="post" name="submit-to-google-sheet">
  <fieldset class="fieldset  form__fieldset">
    <legend class="legend form__legend">{{ name }}</legend>
    <label class="label" for="email--{{ name_id }}">Email Address: <span class="required">*</span></label>
    <input class="input" id="email--{{ name_id }}" type="email" name="email" value="" placeholder="email@website.com" required="required" />

    <label class="label" for="name--{{ name_id }}">Name: <span class="required">*</span></label>
    <input class="input" id="name--{{ name_id }}" type="text" name="name" value="" placeholder="John Doe" required="required" />

    <label class="label" for="studentid--{{ name_id }}">Student ID: <span class="required">*</span></label>
    <input class="input" id="studentid--{{ name_id }}" type="text" name="studentid" value="" placeholder="Your student ID" required="required" />

    <label class="label" for="contactnum--{{ name_id }}">Contact: <span class="required">*</span></label>
    <input class="input" id="contactnum--{{ name_id }}" type="text" name="contactnum" value="" placeholder="Your contact number" required="required" />

    <label class="label" for="birthday--{{ name_id }}">Birthdate: <span class="required">*</span></label>
    <input class="input" id="birthday--{{ name_id }}" type="date" name="birthdate" value="" placeholder="Your birthdate" required="required" />

    <br/>

    <label class="label" for="faculty--{{ name_id }}">Faculty: <span class="required">*</span></label>
    <select  class="input" id="faculty--{{ name_id }}"  name="faculty" required="required">
      <option selected>--Select a faculty--</option>
      <option value="FCI">Faculty of Computing & Informatics</option>
      <option value="FOE">Faculty of Engineering</option>
      <option value="FOM">Faculty of Management</option>
      <option value="FCM">Faculty of Creative Multimedia</option>
      <option value="FAC">Faculty of Applied Communications</option>
      <option value="PGD">Faculty of Postgraduate Studies</option>
    </select>

    <label class="label" for="fb--{{ name_id }}">FB Username: <span class="required">*</span></label>
    <input class="input" id="fb--{{ name_id }}" type="text" name="fb" value="" placeholder="Your Facebook ID" required="required" />

    <label class="label" for="study_year--{{ name_id }}">Year of Study: <span class="required">*</span></label>
    <select  class="input" id="study_year--{{ name_id }}"  name="study_year" required="required">
      <option selected>--Select a year of study--</option>
      <option value="first year">First Year</option>
      <option value="second year">Second Year</option>
      <option value="third year">Third Year</option>
      <option value="fourth year">Fourth Year</option>
    </select>

    <label class="label" for="event--{{ name_id }}">What type of events are you interested in?: <span class="required">*</span></label>
    <input class="input" id="event--{{ name_id }}" type="text" name="event" value="" placeholder="e.g: Workshops, Coding Competition, Talks, Career Fair, etc." required="required" />

    

    <label class="label" for="internship--{{ name_id }}">Internship Period: <span class="required">*</span><small style="font-size:14px; color:#808080;">(for Foundation students, insert "N/A")</small></label>
    <input class="input" id="internship--{{ name_id }}" type="text" name="internship" value="" placeholder="Your internship period" required="required" />

    <input class="button" type="submit" value="Submit" />
    <br/>
    <small class="small"><span class="required">*</span> indicates a required field</small>

  </fieldset>
</form>


<!-- submit to google spreadsheet -->
<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbxDC4y4DSeOmBq196ZdeccmdiM5J7K2wknRb3tq7QbUIakSXzg/exec'
    const form = document.forms['submit-to-google-sheet']
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => console.log('Success!', response))
        .catch(error => console.error('Error!', error.message))
    })
  </script>
