---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      <h1>{{ page.title }}</h1>

      {{ content }}

    </article>
    <p>Have any inquiries or just want to say hello? Drop us a message below! </p>
    {% include site-form-contact-us.html %}
    {% include map.html %}
    <p>CQBR4030, Faculty of Computing and Informatics (FCI), Multimedia University, Persiaran Multimedia, 63100 Cyberjaya, Selangor.</p>
  </div>
</main>

{% include site-footer.html %}
