---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">
      <p>
          Our supporting partners are the reason why we are able to keep our workshops, code labs, tech talks, industrial visits, career weeks, BarCamps and other programmes remain free of charge for everyone.
        We are humbled for their continuous support in the form of sponsorships and in-kind contributions that sustain our effort in building tech community in MMU and empowering students as active practitioners of information technology.
      </p>      
      <!-- sponsors -->
        <div class="gallery">
            <a href="https://www.123rf.com/"><div class="img img-1"></div></a>
            <a href="https://www.accenture.com/my-en/"><div class="img img-2"></div></a>
            <a href="http://www.airstar.com.my/"><div class="img img-3"></div></a>
            <a href="http://www.apdgroup.com/"><div class="img img-4"></div></a>
            <a href="https://www.apptivitylab.com/"><div class="img img-5"></div></a>
            <a href="http://www.baesystems.com/en/home"><div class="img img-6"></div></a>
            <a href="http://www.beansgrp.com/"><div class="img img-7"></div></a>
            <a href="https://www.wowwwz.com/"><div class="img img-8"></div></a>
            <a href="https://www.binary.com/"><div class="img img-9"></div></a>
            <a href="http://www.capitaldynamics.biz/"><div class="img img-10"></div></a>

            <a href="http://chumbaka.asia/"><div class="img img-11"></div></a>
            <a href="http://www.ckgroup.my/"><div class="img img-12"></div></a>
            <a href="http://cyberview.com.my/"><div class="img img-13"></div></a>
            <a href="https://order.dahmakan.com/"><div class="img img-14"></div></a>
            <a href="http://www.dell.com/learn/my/en/mycorp1/careers"><div class="img img-15"></div></a>
            <a href="http://www.dfautomation.com/"><div class="img img-16"></div></a>
            <a href="http://www.flexiroam.com/"><div class="img img-17"></div></a>
            <a href="http://www.fourtitude.asia/"><div class="img img-18"></div></a>
            <a href="http://www.fusionex-international.com/"><div class="img img-19"></div></a>
            <a href="https://www.facebook.com/GDGKualaLumpur/"><div class="img img-20"></div></a>

            <a href="http://www.getdoc.co/"><div class="img img-21"></div></a>
            <a href="https://www.gocar.my/"><div class="img img-22"></div></a>
            <a href="https://grab.careers/"><div class="img img-23"></div></a>
            <a href="https://www.hpe.com/my/en/home.html"><div class="img img-24"></div></a>
            <a href="https://www.hilti.com/content/hilti/CP/XX/en/company/media-relations/publications/corporate-social-responsibility.html"><div class="img img-25"></div></a>
            <a href="http://www.inglab.com.my/"><div class="img img-26"></div></a>
            <a href="http://www2.internetnow.com.my/"><div class="img img-27"></div></a>
            <a href="https://www.ipay88.com/careers.html"><div class="img img-28"></div></a>
            <a href="/"><div class="img img-30"></div></a>

            <a href="http://www.graaab.com/career/"><div class="img img-31"></div></a>
            <a href="http://juristech.net/juristech/"><div class="img img-32"></div></a>
            <a href="http://www.qinetics.net/"><div class="img img-33"></div></a>
            <a href="http://www.locus-t.com.my/"><div class="img img-34"></div></a>
            <a href="http://mymagic.my/en/"><div class="img img-35"></div></a>
            <a href="http://www.microlink.com.my/"><div class="img img-36"></div></a>
            <a href="http://www.microlink.com.my/"><div class="img img-37"></div></a>
            <a href="http://www.moocommerce.com/index.php/home"><div class="img img-38"></div></a>
            <a href="https://mybump.my/"><div class="img img-39"></div></a>
            <a href="http://www.nexplatform.my/"><div class="img img-40"></div></a>

            <a href="https://www.nintex.com/"><div class="img img-41"></div></a>
            <a href="http://www.photobook.com.my/careers/"><div class="img img-42"></div></a>
            <a href="https://piktochart.com/careers/"><div class="img img-43"></div></a>
            <a href="http://www.pocketpixel.com/"><div class="img img-44"></div></a>
            <a href="https://www.publicbankgroup.com/"><div class="img img-45"></div></a>
            <a href="http://www.quintiq.com/"><div class="img img-46"></div></a>
            <a href="http://www.runningman.my/"><div class="img img-47"></div></a>
            <a href="http://www.seekasia.com/"><div class="img img-48"></div></a>
            <a href="https://www.servicerocket.com/join/kuala-lumpur"><div class="img img-49"></div></a>
            <a href="https://www.snappymob.com/"><div class="img img-50"></div></a>

            <a href="http://syscatech.com/en/"><div class="img img-51"></div></a>
            <a href="http://www.t-systems.com.my/"><div class="img img-52"></div></a>
            <a href="http://gotapway.com/"><div class="img img-53"></div></a>
            <a href="https://teleme.co/"><div class="img img-54"></div></a>
            <a href="https://www.tm.com.my/Pages/Home.aspx"><div class="img img-55"></div></a>
            <a href="https://touristly.com/"><div class="img img-56"></div></a>
            <a href="http://tribehired.com/splash/user"><div class="img img-57"></div></a>
            <a href="https://www.tuxuri.com/"><div class="img img-58"></div></a>
            <a href="http://www.werebits.com/"><div class="img img-59"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-60"></div></a> 

            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-61"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-62"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-63"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-64"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-65"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-66"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-67"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-68"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-69"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-70"></div></a>
            <a href="https://www.itsociety.rocks/partner/my.wobb.co"><div class="img img-71"></div></a>






        </div>
    </article>


  </div>


</main>

{% include site-footer.html %}
